---

import Card from './card.astro'
---

<main>
    <div class="cardbx">
        
            <Card num="01", subhead="Years of Experience", info="We are 05 years of experienced in this yoga field. Giving the best instructions."/>
            <Card num="5", subhead="Experienced Trainer", info="We are 05 years of experienced in this yoga field. Giving the best instructions."/>
            <Card num="500", subhead="Happy Clients", info="We are 05 years of experienced in this yoga field. Giving the best instructions."/>
            <Card num="5", subhead="Monthly Routine", info="We are 05 years of experienced in this yoga field. Giving the best instructions."/>

    </div>



    <div class="textbx">
        <h1>We make your daily routine more sustainable with our services</h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
        <h3 class="sign">
            Beauty Care
        </h3>
        <div class="subbx">
            <h6>Jimmy smiles</h6>
            <h5>Founder</h5>
        </div>
    </div>
</main>

<style>
    .cardbx{
        display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    width: 2700px;
    }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
</style>